
@{
    ViewBag.Title = "Success";
}
 
    <div class="container h-100">
        <div class="row"></div>
        <hr />
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="alert alert-success align-middle" role="alert">
                    <img style="width: 50px; height: auto;" src="~/imgs/success.png" />Grazie per avere ordinato!<br />
                    Ti verrà inviata una mail per la conferma dell'ordine.
                </div>
            </div>
        </div>
    </div>
