
@{
    ViewBag.Title = "Admin";
}
<hr />
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary btn-block mb-1" href="/Admin/Edit">Nuovo prodotto</a>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Categoria
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        @foreach (BillMealMVC.Models.ItemCategory cat in ViewBag.Categories)
                        {

                            <div class="form-check">
                                <input class="form-check-input" name="category@(cat.CategoryId)" id="category@(cat.CategoryId)" type="checkbox" />

                                <label class="form-check-label" for="category@(cat.CategoryId)">@cat.Description</label>
                            </div>
                        }
                        <button class="btn btn-primary">Filtra</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-10">
        <div class="p-3 bg-secondary text-white ">
            @foreach (var item in Model)
            {
                <div class="p-1 thumb-frame mr-1 float-left">
                    <a href="/admin/edit?id=@item.ItemId">
                        <div class="">
                            <div class="thumb">
                                @{
                                    var img = "/imgs/"+(item.ItemId) + ".jpg";
                                    if (!File.Exists(System.Configuration.ConfigurationManager.AppSettings["imagepath"]+ "\\"+img))
                                    {
                                        img = "/imgs/noimage.jpg";
                                    }
                                }
                                <img class="img-thumb" src="@img" />
                            </div>
                        </div>
                        <div class="thumb-foot">
                            <h4>@item.Name</h4>
                            <div class="p-1">@item.Description</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>